.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5rem;
  box-sizing: border-box;
  padding: 0.9375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-panel);
  border-right: 0.0625rem solid var(--border-color-main);
}
.header__logo {
  width: 3.125rem;
  height: 3.125rem;
  margin-bottom: auto;
}
.header__night-mode {
  width: 1.875rem;
  height: 1.875rem;
  margin-bottom: 1.5625rem;
}
.header__profile {
  display: flex;
  border-radius: 50%;
  border: 0.1875rem solid transparent;
  transition: border-color 0.3s;
  outline: none;

  &:hover,
  &:focus-visible {
    border: 0.1875rem solid var(--border-avatar-hover);
  }
}
