.stages {
  padding: 10px 10px;
  display: grid;
  column-gap: 10px;
  grid-template: 1fr / repeat(3, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  height: calc(100% - 80px);
}

.stage {
  font-family: 'Noto Sans';
}

.stage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: default;
  user-select: none;
}

.stage__heading {
  margin: 0;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--font-color-secondary);
}
.stage__count {
  margin-left: 5px;
}
.stage__add-task {
  width: 20px;
  height: 20px;
  padding: 4px;
  display: flex;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  line-height: 1;

  & > * {
    margin: auto;
  }

  &:hover,
  &:focus-visible {
    background-color: var(--primary-color--hover);
  }

  &:active {
    transform: scale(0.9);
  }
}
